.message-wrapper{
    width: 40%;
    position: fixed;
    top: calc((100vh - 60vh) / 2);
    left: calc((100% - (40% + 30px)) / 2);
    padding: 30px 15px;
    background-color: rgba(0, 200, 255,.7);
    backdrop-filter: blur(5px);
    border: 2px solid #F2C9E1;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    z-index: 999;
}
.message-button{
    margin: 50px auto;
}
.message {
    color: #f7f7f7;
    font-size: 24px;
}
.message-wrapper.success {
   background-color:  rgba(27, 245, 35)
}
.message-wrapper.fail{
    background-color: rgba(230 , 9, 101, .9);
}
.message-wrapper.info{
    background-color: rgba(18, 136, 149,.9);
}

@media only screen and (max-width: 1072px){
    .message-wrapper{
        width:80%;
        left: calc( 10% - 15px );
    }
}